p {
    font-size: 1.5rem;
    color: darkslategrey;
    font-family: cursive;
    display: block;
    padding: 0 10%;
}

h1 {
    font-size: 3rem;
    color: darkslateblue;
    font-family: cursive;
    text-transform: capitalize;
    text-align: center;
}

body {
    background-color: cornsilk;
}

