<form action="/submit" method="post">
  <label for="title">Title:</label><br />
  <input type="text" id="title" name="title" /><br />
  <label for="blog">Blog:</label><br />
  <textarea type="text" id="blog" name="blog"></textarea><br />
  <input type="submit" value="Save" />
</form>
